name: Test

on: [ pull_request, push ]

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      max-parallel: 15
      fail-fast: false
      matrix:
        validate: [ false ]
        fail-fast: [ false ]
        php-versions: [ 8.1, 8.2 ]
        exclude:
          - php-versions: 8.1
          - php-versions: 8.2
        include:
          - php-versions: 8.1
            validate: true
          - php-versions: 8.2
            fail-fast: true

    name: PHP ${{ matrix.php-versions }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: ${{ matrix.php-versions }}
          extensions: json, mbstring
        env:
          fail-fast: ${{ matrix.fail-fast }}

      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache composer dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: "php-${{ matrix.php-versions }}-${{ hashFiles('**/composer.json') }}"
          restore-keys: "php-${{ matrix.php-versions }}-${{ hashFiles('**/composer.json') }}"

      - name: Install dependencies
        run: composer install --no-interaction  --prefer-dist

      - name: Lint the code
        run: vendor/bin/parallel-lint --exclude vendor .

      - name: Lint composer.json
        if: matrix.validate == true
        run: composer validate --strict
